body{
  background-color: #1597BB;
}

.container{
  text-align: center;
}

h1{
  font-size: 30px;
  color: #150050;
}

.nm{
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  color: rgb(3, 18, 83);
}

input{
  width: 92%;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 15px;
}

table {
  border: 5px solid black;
  margin: 10px auto 10px auto;
  border-radius: 10px;
  background-image: linear-gradient(to left, #FEECE9, #F2FFE9);
  box-shadow: 5px 10px 28px;
}
th {
  border: 2px solid rgb(3, 2, 56);
  padding: 10px;
  font-size: 20px;
}

tr td {
    border: 2px solid black;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}